.products {
  position: relative;
  width: 90%;
  margin: 60px auto;
}

.product-slider {
  padding-bottom: 50px; /* space for dots */
}

.product {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(58, 40, 0, 0.7), rgba(58, 28, 0, 0.7));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  /* These properties are now only applied for desktop views */
  transition: 0.4s;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}

/* Hover effect for desktop screens (min-width: 1025px) */
@media (min-width: 1025px) {
  .caption {
    opacity: 0; /* Hidden by default on desktop */
    padding-top: 70%;
  }

  .product:hover .caption {
    opacity: 1;
    padding: 0;
  }
}

.slider-nav {
  position: absolute;
  top: 40%;
  left: -60px;
  width: calc(100% + 120px);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.slider-nav .custom-prev,
.slider-nav .custom-next {
  pointer-events: all;
  background: #b58006;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 18px;
  z-index: 11;
}

.swiper-pagination {
  bottom: 10px !important;
}

/* --- Tablet View --- */
@media (max-width: 1024px) {
  .slider-nav {
    left: -40px;
    width: calc(100% + 80px);
    top: 38%;
  }

  .slider-nav .custom-prev,
  .slider-nav .custom-next {
    width: 38px;
    height: 38px;
    font-size: 18px;
  }
}


/* --- Mobile View --- */
@media (max-width: 650px) {
  .slider-nav {
    position: static;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .slider-nav .custom-prev,
  .slider-nav .custom-next {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}
