.products{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.product {
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(58, 40, 0, 0.7), rgba(58, 28, 0, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.product:hover .caption{
    opacity: 1;
    padding: 0;
}

/*-----------media query--------------*/
@media (max-width: 650px){
    .products{
        flex-direction: column;
    }
    .product{
        flex-basis: 100%;
        margin: 20px;

    }

}